@font-face {
    font-family: 'Roboto-Regular';
    src: url('../Fonts/Roboto-Regular.ttf');
    src: url('../Fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../Fonts/Roboto-Bold.ttf');
    src: url('../Fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../Fonts/OpenSans-Regular.ttf');
    src: url('../Fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
body.dark{
    background: #060e33!important;
    color: #bbbbbb!important;
}

/*----MENU----*/
header{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
a#Logo-site{
    width: auto;
    height:auto;
}
a #img-logo-site{
    width: 100%;
    height: auto;
}
input{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
}

a#homepage, a#about{
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color:#11A7B0;
}

a#singupLink{
    font-family: 'Roboto-Regular';
    padding: 0.5% 1%;
    font-weight: 800;
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    color:#000000;
    background: #11A7B0;
    border: 1px solid #141414;
    box-sizing: border-box;
    border-radius: 50px;
}
div#timers{
    font-family: 'Roboto-Regular';
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
i.fa-bars{
    font-size: 32px;

}

img#svgnight,img#svgday{
    
    width: 21px;
    height: 21px;
}
/*Modifier les svg en fonction des couleurs demandé*/

#night { color: #0093ce; }
#day,img#svgday { color: orange; }
#night, #day {
    font-weight: bold;
    display: none;
}

#cetustimer[data-cycle=night] #night, #cetustimer[data-cycle=day] #day { display: inline }

span#countdown{
      color: #dadada;
  }

#timerBaro{
    display: inline-block;
}
#cetustimer,#timerBaro,#fissures{
    border: 1px solid #11A7B0;
    border-radius: 1.5%;
    padding: 2%;
}
#countdowncetus,#countdownbaro,span.fissuresTimerT1,span.fissuresTimerT2,span.fissuresTimerT3,span.fissuresTimerT4,span.fissuresTimerT5{
 font-family: 'Roboto-Bold';
}
/* div#fissures{

    
} */
#container-glyph{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: 'Roboto-Regular';
}

figure{
    display: block;
    margin: 0.5% 0.5%;
    border:  0.5px solid #11A7B0;
    border-radius: 3%;
}
figure.transcande{
    border:  0.5px solid #60ef01;
}
figcaption{
    display: flex;
    justify-content:center;
}
figcaption p {
    width: auto;
}
#img-glyph{
    width: 128px;
    height: 128px;
    border-radius: 3%;
}



/*----Nightmode----*/
div.nightmode{
    width: 127px;
    height: 48px;
    background: #11A7B0;
    border: 3px solid #141414;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
    
}
div.nightmode i.fa-sun{
    position: relative;
    font-size: 32px;
    left: 40%;
    top: 18%;
    color: #000000;
} 
/*----Lightmode----*/
body.light{
    background:#f1f1f1;
    color:#1f1f1f;
}
div.lightmode{
    display: none;
    width: 127px;
    height: 48px;
    background:#f1f1f1;
    border: 3px solid #141414;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
}
div.lightmode i.fa-moon{
    position: relative;
    font-size: 32px;
    left: 40%;
    top: 18%;
    color: #141414;
}
/*----Transcand----*/
body.transcande{
    background: #0001ec;
    color: #ff00f2;
    }
div.transcand{
    display: none;
    width: 127px;
    height: 48px;
    background:#ff00f2;
    border: 3px solid #60ef01;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
}
div.transcand img{
    position: relative;
    left: 40%;
    top: 18%;
    width: 32px;
    height: 32px;
}
div#cetustimer > span.transcande, div#timerBaro > span.transcande,div#fissures > span.transcande{
    color: #60ef01;
}