@font-face {
    font-family: 'Roboto-Regular';
    src: url('../Fonts/Roboto-Regular.ttf');
    src: url('../Fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../Fonts/Roboto-Bold.ttf');
    src: url('../Fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../Fonts/OpenSans-Regular.ttf');
    src: url('../Fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Neonneon';
    src: url('../Fonts/Neoneon.otf');
    src: url('../Fonts/Neoneon.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*---KeyFrames---*/
@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(234, 127, 255, 0.92),
      0 0 30px rgba(234, 127, 255,0.34),
      0 0 12px rgba(234, 127, 255, 0),
      0 0 21px rgba(234, 127, 255, 0),
      0 0 34px rgba(234, 127, 255, 0),
      0 0 54px rgba(234, 127, 255,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(234, 127, 255,0.98),
      0 0 30px rgba(234, 127, 255,0.42),
      0 0 12px rgba(234, 127, 255, 0),
      0 0 22px rgba(234, 127, 255, 0),
      0 0 38px rgba(234, 127, 255, 0),
      0 0 60px rgba(234, 127, 255,1);
    }
  }
body.dark{
    background: #060e33!important;
    color: #bbbbbb!important;
}

/*----MENU----*/
header{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
a#Logo-site{
    width: auto;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
a #img-logo-site{
    width: 100%;
    height: auto;
}
h1#title-site{
    font-size: 54px;
    font-family: 'Neonneon';
    margin: 0 0 0 10%;
}
input{
    height: 25px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    text-indent: 5px;
    font-family: "Roboto-Regular";
}

a#homepage, a#about{
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color:#11A7B0;
}
a#singupLink{
    font-family: 'Roboto-Regular';
    padding: 0.5% 1%;
    font-weight: 800;
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    color:#000000;
    background: #11A7B0;
    border: 1px solid #141414;
    box-sizing: border-box;
    border-radius: 50px;
}
div#timers{
    font-family: 'Roboto-Regular';
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
i.fa-bars{
    font-size: 32px;

}

img#svgnight,img#svgday{
    
    width: 21px;
    height: 21px;
}
/*Modifier les svg en fonction des couleurs demandé*/

#night { color: #0093ce; }
#day,img#svgday { color: orange; }
#night, #day {
    font-weight: bold;
    display: none;
}

#cetustimer[data-cycle=night] #night, #cetustimer[data-cycle=day] #day { display: inline }

span#countdown{
      color: #dadada;
  }

#timerBaro{
    display: inline-block;
}
#cetustimer,#timerBaro,#fissures{
    border: 1px solid #11A7B0;
    border-radius: 1.5%;
    padding: 2%;
}
#countdowncetus,#countdownbaro,span.fissuresTimerT1,span.fissuresTimerT2,span.fissuresTimerT3,span.fissuresTimerT4,span.fissuresTimerT5{
 font-family: 'Roboto-Bold';
}

/*---Glyph---*/
a#box-submit{
    display: block;
    justify-items: center;
    align-items: center;
    width: 128px;
    height: 184.75px;
    margin: 0.5%;
    background: #8a8a8a;
    border: 1px solid #cccccc;
    border-radius: 10px;
}
div#border-submitbtn{
    display: flex;
    width: 128px;
}
#vector-submit{
    height:auto;
    padding: 11px;
    margin: 22% 0;
    
}
#container-glyph{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: 'Roboto-Regular';
}

figure{
    display: block;
    margin: 0.5%;
    border:  0.5px solid #11A7B0;
    border-radius: 3%;
}
figure.transcande{
    border:  0.5px solid #60ef01;
}
figcaption{
    display: flex;
    justify-content:center;
}
figcaption p {
    width: auto;
}
#img-glyph{
    width: 128px;
    height: 128px;
    border-radius: 3%;
}



/*----Nightmode----*/
h1#title-site.titlenight{
    color: rgb(178, 97, 194);
    animation: neon .08s ease-in-out infinite alternate;
}
div.nightmode{
    width: 127px;
    height: 48px;
    background: #11A7B0;
    border: 3px solid #141414;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
    
}
div.nightmode i.fa-sun{
    position: relative;
    font-size: 32px;
    left: 40%;
    top: 18%;
    color: #000000;
} 
/*----Lightmode----*/
body.light{
    background:#f1f1f1;
    color:#1f1f1f;
}
h1.titlelight{
    color: #580752;
}
div.lightmode{
    display: none;
    width: 127px;
    height: 48px;
    background:#f1f1f1;
    border: 3px solid #141414;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
}
div.lightmode i.fa-moon{
    position: relative;
    font-size: 32px;
    left: 40%;
    top: 18%;
    color: #141414;
}
/*----Transcand----*/
body.transcande{
    background: #0001ec;
    color: #ff00f2;
    }
div.transcand{
    display: none;
    width: 127px;
    height: 48px;
    background:#ff00f2;
    border: 3px solid #60ef01;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
}
div.transcand img{
    position: relative;
    left: 40%;
    top: 18%;
    width: 32px;
    height: 32px;
}
div#cetustimer > span.transcande, div#timerBaro > span.transcande,div#fissures > span.transcande{
    color: #60ef01;
}
/*---Submit---*/
form#blockSubmit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
p{
    font-family: 'Roboto-Regular';
}
.tox .tox-menubar{
    display: none !important;
}
.tox-tinymce{
    width: 900px;
}
input.btn-submit{
    padding: 5px 15px;
    text-indent: 0;
    border: 2px solid #11A7B0;
    background-color: #10c7d4bd;
    transition: ease-in-out 0.2s;
}
input.btn-submit:hover{
    background-color: #060e33;
    color: #8a8a8a;
}
/*---Drag&Drop---*/
div.drag-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 160px;
    border: 4px dashed grey;
    border-radius: 15px;
}
.green-border{
    border-color: green;
}